<!-- FILE:templates/logs/service.html -->
<!--Body content-->


<div id="content" class="clearfix">
    <div class="contentwrapper"><!--Content wrapper-->

        <div class="heading">

            <h3>Datastore Viewer</h3>                    

            <div class="resBtnSearch">
                <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
            </div>

        </div><!-- End .heading-->

        <!-- Build page from here: -->
        <div class="row-fluid">
          <div class="offset1 span8">
            <div class="page-header">
              <h1>View {{ app_id }}:</h1>
            </div><!--close header-->
            {% for result in results %}
              <p> {{ result }} </p>
              <!-- only show the button if there is more results -->
              <a class="btn" href="/datastore/viewer/?app={{app_id}}?next_cursor={{next_cursor}}?query={{query_string}}">Next</a>
          {% if is_more %}
            <a class="btn btn-success pull-right" href="/datstore/viewer?app={{app_id}}?next_cursor={{next_cursor}}">Next 20</a>
          {% endif %}
          </div><!--close span6 -->
        <div class="span3"></div> <!--spacing div-->
        </div> <!-- end row fluid -->
    </div> <!-- end content wrapper -->
</div> <!--end content-->
